@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
	background-color: #60a5fa33;
}
a:focus-visible {
	outline: dotted 2px #2563eb;
}
.stretched-link::after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	content: "";
}